carga_material.jsx
initialSetUp.jsx
initialSetUp.rar
footage/audio/trompetas.mp3
footage/imgs/carlitos.jpg
footage/imgs/diego.jpg
footage/imgs/riquelme.jpg
footage/vids/ALGO_SIGUE_BOCA.mp4
footage/vids/ALGOMAS_SIGUE_BOQUITA.mp4
vickyTest.sqpreset
premiereScripting.code-workspace
